In [ ]:
# Decimal number :0,1,2,3,4,5,6,7,8,9 = base = 10
# octal number :0,1,2,3,4,5,6,7 = base = 8
# Hexadecimal number :0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f= base=16
# Binary number :0,1 = base=2

In [ ]:
a=100
print(a)